<h2>New post</h2>

<form action ="/new" method = "POST">
  <div class="form-group">
    <textarea name="newpost" class="form-control" rows="6" placeholder="Enter new post here... "></textarea>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>