<h2>New post</h2>

<form>
  <div class="form-group">
    <textarea class="form-control" rows="6" placeholder="Enter new post here... "></textarea>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>